{% extends 'base.html' %}
{% block content %}
	<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Me...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To My Personal Photo Website </p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<p align="justify">
        					<br/><br/>
	        				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu rutrum purus, et elementum lectus. Ut finibus nisl a suscipit tincidunt. Aliquam molestie et lacus ut aliquam. Donec eget feugiat lacus. Quisque varius eleifend metus id ultrices. Vivamus et est eu lectus maximus venenatis. Morbi nec fringilla diam. Vestibulum non tellus et lectus pretium venenatis.
	        				<br/><br/>
							Fusce elementum pretium neque non eleifend. Nam nibh ipsum, ornare ac risus nec, venenatis placerat tortor. Praesent vitae purus in enim porta ornare. Ut pellentesque ipsum et neque varius, at imperdiet velit sodales. Pellentesque elementum velit magna, eu convallis est egestas id. Aenean varius mi vitae ipsum dapibus pretium. Donec a orci ac odio auctor varius. Ut hendrerit nisi condimentum, ultrices sapien eget, varius est. In tristique erat eget consectetur viverra. Etiam et hendrerit est. Cras semper eros elementum congue convallis. Pellentesque varius ante urna. Suspendisse potenti. Vivamus ac accumsan lorem.
							<br/><br/>
							Curabitur ligula risus, bibendum ut molestie eget, commodo ac lectus. Suspendisse lectus mi, egestas dignissim mi ac, vulputate elementum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur eget ultricies odio. Nullam at est turpis. Sed diam purus, tempus vitae hendrerit sit amet, iaculis sed risus. Curabitur ultrices blandit odio, at mollis nunc tristique a. Fusce elementum sodales magna, at aliquet mauris convallis maximus. Nulla facilisi. Duis in dolor at mauris mattis varius. Donec lacinia interdum nisi, sed aliquam est. Sed porttitor eget urna sit amet lacinia.
							<br/><br/>
						</p>
        			</div>
        		</center>
        	</div>
        </div>
	

{% endblock %}